h1{
    color: palevioletred;
}

h2{
    color: pink;
}

.tennis{
    width: 100%;
}

.badminton{
    width: 100%;
}

ul{
    color: blueviolet;
}

main{
    color: darkcyan;
}
